
<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Timestamp microService</title>
  <link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css">  
</head>

<body>
  <div class="container">
    <h1><a href="https://www.freecodecamp.org/challenges/request-header-parser-microservice">Request Header Parser Microservice
</a></h1>
    <h6> by Garrett </h6>
    <blockquote class="blockquote">
      <h4> User Stories </h4>
      <ol>
        <li>I can get the IP address, language and operating system for my browser.</li>
      </ol>
    </blockquote>

    <h4>Example Usage</h4>
    <pre><code>
    https://ivory-output.glitch.me/api/whoami
    </code></pre>
    <h4>Example Output</h4>
    <pre><code>
    { "ipAddress": "xxx.xx.xxx.x", "language": "en-US", "software": "Windows NT 10.0; Win64; x64" }
    </code></pre>
</div>

</body>
  
</html>
